DATABASE_URL="postgresql://USER:PASSWORD@YOUR_POOLER_HOST.neon.tech/DB_NAME?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://USER:PASSWORD@YOUR_DIRECT_HOST.neon.tech/DB_NAME?sslmode=require&channel_binding=require"
PORT=4000
UPLOAD_DIR="./uploads"
MAX_FILE_SIZE_MB=10
NODE_ENV=development
